body {
	background-image: url('tandem_grey.png');
}
body::before {
	content: url('tandem_grey.png') url('broken.png') url('clock.png') url('colors.png')  url('theCertificate.png') url('thePerks.png');
	display: none;
}
.certificate {
	background: #fff;
	background-image: url('theCertificate.png');
	box-shadow: 0 0 5px #888;
}
.benefits {
	background: #fff;
	background-image: url('thePerks.png');
	box-shadow: 0 0 5px #888;
}
.no {
	background-image: url('broken.png');
}
.yes {
	background-image: url('colors.png');
}
.maybe {
	background-image: url('clock.png');
}
#image {
	height: 517px;
	width: 780px;
	margin: 50px auto;
}